/*#region reset*/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
  color: var(--black);
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

:root {
  /*color*/
  --blue: #1780FF;
  --purple: #5D5BC9;
  --grey: #CCCCCC;
  --black: #3C4250;
  --dark-gray: #9a9a9e;
}

/*#endregion reset*/

/*#region header*/
.hero-section {
  padding: 6rem 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#header-svg {
  width: 10px;
}

#header-svg:hover {
  fill: var(--blue);
}

header nav a {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

header nav a:hover {
  color: var(--blue);
  transition: 0.2s;
}

.header-nav-button {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;

}

.header-nav-button:hover {
  color: var(--blue);
  background-color: white;
  border: 1px solid var(--blue);
  transition: 0.3s;
}

.header-nav-bar {
  display: none;
}

@media (max-width:800px) {
  nav {
    display: none;
  }

  .hero-div-container h1 {
    text-align: center;
    font-size: 45px;
  }

  .hero-div-text {
    flex-direction: column;
  }

  .hero-div-container span {
    text-align: center;
  }

  .header-nav-bar {
    display: flex;
  }

  .header-nav-bar button {
    border: 0;
    display: flex;
    justify-content: flex-end;
  }

  .header-nav-bar button svg {
    width: 15%;
  }
}

/*#endregion header*/

/*#region hero section*/

.hero-div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-div-container h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--black);
}

.hero-div-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 22px;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked,
.slider {
  background-color: var(--blue);
}

input:focus,
.slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked,
.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hero-div-container span {
  font-size: 20px;
  font-weight: 400;
  color: var(--blue);
}

/*#endregion hero section*/

/*#region offer section*/
.offer-section {
  padding: 6rem 0;
  background-color: #fefefe;
}

.offer-div-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.offer-div-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 11px grey
}

.offer-div-col:hover {
  box-shadow: 10px 15px 20px grey;
  transition: 0.5s;

}

.top-offer-div-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-offer-div-col h2 {
  font-size: 25px;
  font-weight: 600;
  color: var(--black);

}

.offer-div-price {
  font-size: 35px;
}

.offer-div-price span {
  font-size: 17px;
}

.top-offer-div-col p {
  font-size: 22px;
}

.middle-offer-div-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.middle-offer-div-col a {
  width: 100%;
  text-align: center;
  background-color: var(--blue);
  padding: 15px;
  font-size: 22px;
  border-radius: 7px;
  color: white;
}

.middle-offer-div-col a:hover {
  color: var(--blue);
  background-color: white;
  transition: 0.3s;
  border: 1px solid var(--blue);
}

.middle-offer-div-col p {
  font-size: 17px;
}

.btm-offer-div-col ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.btm-offer-div-col li {
  font-size: 18px;
}

.btm-offer-div-col svg {
  width: 13px;
}

.btm-offer-div-col .diffrent-check {
  color: grey;
}

@media (max-width:800px) {
  .offer-div-container {
    flex-wrap: wrap;
  }

  .offer-div-col {
    width: 75%;
    text-align: center
  }

  .btm-offer-div-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*#endregion  offer section*/

/*#region companies section */
.companies-div-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.companies-div-container h3 {
  font-size: 20px;
  font-weight: 600;
}

.companies-div-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

@media (max-width:800px) {
  .companies-div-container h3 {
    font-size: 55px;
  }

  .companies-div-container ul {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

/*#endregion companies section*/





/*#region questions section*/
.question-section {
  padding: 9rem 0;
  background-color: #F6F6F8;
}

.question-div-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.question-div-container h4 {
  text-align: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-div-container span {
  font-size: 15px;
  font-weight: 400;
}

.question-div-col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-div-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.questions-answers-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-div-col h5 {
  font-size: 20px;
}

.question-div-col p {
  font-size: 15px;
  width: 75%;
  color: var(--dark-gray);
}

.questions-answers-col ul {
  list-style: revert;
}
.question-div-a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--dark-gray);
  font-size: 15px;
  font-weight: 600;
}
.question-div-a a{
  color: var(--blue);
}
.question-div-a a:hover{
  text-decoration: underline;
}


@media (max-width:800px) {
  .question-div-container h4 {
    font-size: 60px;
  }

  .question-div-col-12 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .question-div-col {
    width: 100%;
  }

  .questions-answers-col {
    text-align: center;
    align-items: center;
  }
  .questions-answers-col p ,.questions-answers-col ul {
  width: 50%;
}
.question-div-a{
  flex-direction: column;
}
}
/*#endregion question section*/

/*#region try section*/
.try-section{
  padding: 8rem 0;
}
.try-div-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  padding: 4rem;
  background-image: linear-gradient(254deg, rgb(144 144 240), var(--purple));
  border-radius: 10px;
}
.try-div-container h6{
  font-size:50px ;
  color: white;
}
.try-div-container p{
  font-size: 20px;
    color: white;
}
.try-div-container a{
  padding: 15px 20px;
    color: white;
    background-color: var(--blue);
    border-radius: 7px;
    width: 20%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.try-div-container a:hover{
  background-color: white;
  color: var(--blue);
  transition: 0.3s;
}
.try-div-container span{
  font-size: 15px;
    font-weight: 400;
    color: white;
}
@media (max-width:800px){
  .try-div-container{
    text-align: center;
    align-items: center;
  }
  .try-div-container a{
    width: 85%;
  }
}
/*#endregion try section*/

/*#region footer*/
.footer-container{
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-div-company{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer-div-company h6 ,.footer-div-contact h6{
  font-size: 20px;
}
.footer-div-company ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-div-contact a{
  font-size: 15px;
  color: var(--dark-gray);
}
.footer-div-contact li svg{
  width: 20px;
}
.footer-div-contact{
  display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-div-contact ul{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
}